---
title: People
layout: page_people
permalink: /team/
---

<!-- Principal Investigator -->
<h2 class="mb-3"><a id="staff"></a>Principal investigator</h2>

{% assign members = site.posts | where: 'category', 'PI' | sort: 'date' %}
<ul class="list-unstyled">
<div class="row">
{% for member in members%}
    {% assign ncols = 2 %}
    {% assign i = forloop.index0 | modulo: ncols %}
        <div class="col">
            {%- include team_member.html -%}
        </div>
    {% if i == 1 %}
        </div><div class="row">
    {% endif %}
{% endfor %}
</div>
</ul>

<!-- Graduate students -->
<h2 class="mb-3"><a id="grad_student"></a>Graduate students</h2>

{% assign members = site.posts | where: 'category', 'phd-student' | sort: 'date' %}
<ul class="list-unstyled">
<div class="row">
{% for member in members%}
    {% assign ncols = 2 %}
    {% assign i = forloop.index0 | modulo: ncols %}
        <div class="col">
            {%- include team_member.html -%}
        </div>
    {% if i == 1 %}
        </div><div class="row">
    {% endif %}
{% endfor %}
</div>
</ul>

<!-- Undergraduate students -->
<h2 class="mb-3"><a id="undergrad_student"></a>Undergraduate students</h2>

{% assign members = site.posts | where: 'category', 'undergraduate' | sort: 'date' %}
<ul class="list-unstyled">
<div class="row">
{% for member in members%}
    {% assign ncols = 2 %}
    {% assign i = forloop.index0 | modulo: ncols %}
        <div class="col">
            {%- include team_member.html -%}
        </div>
    {% if i == 1 %}
        </div><div class="row">
    {% endif %}
{% endfor %}
</div>
</ul>