---
title: Research Products
layout: page_publications
excerpt: RT2 Lab -- Publications.
permalink: /publications/
---

<h3>Peer reviewed archival journal</h3>
<ul class="list-unstyled">
    {% assign pub_list = site.data.publications | sort: 'Publication Year' | group_by: 'Publication Year' | reverse %}

    {% for group in pub_list %}

        {% assign year = group.name | to_integer %}

        <!-- <h3 class="mt-4">{{ year }}</h3> -->
        {% for publi in group.items %}
            {%- include publication.html -%}
        {% endfor %}

    {% endfor %}
</ul>

<h3>Invited book chapters</h3>
<ul class="list-unstyled">
    {% assign pub_list = site.data.invited_books | sort: 'Publication Year' | group_by: 'Publication Year' | reverse %}

    {% for group in pub_list %}

        {% assign year = group.name | to_integer %}

        <!-- <h3 class="mt-4">{{ year }}</h3> -->
        {% for publi in group.items %}
            {%- include publication.html -%}
        {% endfor %}

    {% endfor %}
</ul>

<h3>Presentations and invited talks</h3>
<ul class="list-unstyled">
    {% assign pub_list = site.data.presentations | sort: 'Publication Year' | group_by: 'Publication Year' | reverse %}

    {% for group in pub_list %}

        {% assign year = group.name | to_integer %}

        <!-- <h3 class="mt-4">{{ year }}</h3> -->
        {% for publi in group.items %}
            {%- include publication.html -%}
        {% endfor %}

    {% endfor %}
</ul>